.main3{
    height: 680px;
}
.pupsikas{
    margin-top: 280px;
}
@media(min-width: 600px) and (max-width: 700px){
    .main3{
    height: 680px;
}
.pupsikas{
    margin-top: 0px;
}
}
@media(min-width: 375px) and (max-width: 600px){
    .main3{
    height: 1100px;
}
.pupsikas{
    margin-top: 0px;
}
    .invalidas {
        top: 85px;
        position: relative;
        width: 300px;
        height: auto;
    }
       .knopka {
        position: relative;
        left: -169px;
        top: -8px;
    }
        .mandarin {
        position: relative;
        top: -40px;
        left: -10px;
        font-size: 16px;
        width: 149px;
    }
        .minatom {
        padding-top: 5px;
        padding-bottom: 5px;
        top: 70px;
        position: relative;
    }
}
@media(min-width: 320px) and (max-width: 375px){
    .main3{
    height: 1100px;
}
.pupsikas{
    margin-top: 0px;
}
    #fufa {
        width: 50px;
        font-size: 12px;
        position: relative;
        right: -10px;
    }
    .invalidas {
        top: 85px;
        position: relative;
        width: 271px; 
        height: auto;
    }
         .knopka {
        position: relative;
        left: -165px;
        top: -27px;
    }
        .mandarin {
        position: relative;
        top: -40px;
        left: -36px;
        font-size: 16px;
        width: 114px;
    }
        .minatom {
        padding-top: 5px;
        padding-bottom: 5px;
        top: 70px;
        position: relative;
    }
}

