
h4{
    margin-top: 170px;
}

.main7 {
    height: 790px;
    width: 100%;
}
 .error {
      border: 2px solid red !important;
    }
    .error-message {
      color: red;
      font-size: 12px;
      margin-top: 4px;
      font-family: sans-serif;
    }
.dobranoc {
    width: 70%;
    margin: auto;
}


.bad {
    width: 60%;
    border: #00c6a9 1px solid;
    padding: 15px;

}

.bad::placeholder {
    color: #00c6a9;
}

.day {
    width: 60%;
    height: 70px;
    border: 1px solid #00c6a9;
    padding: 15px;
    resize: none;
    text-align: left;
    vertical-align: top;
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    padding-top: 55px;
    padding-left: 15px;
    transition: 0.1s ease;
}

.day::placeholder {
    color: #00c6a9;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.day:focus {
    height: 110px;
    padding-top: 15px;
}

.day:focus::placeholder {
    opacity: 0;
}

.kevin {
    margin-top: -380px;
    display: flex;
    justify-content: flex-end;
}

.good_night {
    padding-bottom: 25px;
}

.winks {
    text-decoration: none;
    border: solid 1px #00c6a9;
    color: white;
    padding: 18px 58px;
    background-color: #00c6a9;
    font-weight: bold;
}

.feji {
    margin-top: 18px;
}
@media(min-width: 320px) and (max-width: 599px){

    .main7{
        margin-top: -150px;
        height: 1050px;
    }
        #fufa {
        width: 50px;
        font-size: 12px;
        position: relative;
        right: -10px;
    }
}
@media(min-width: 600px) and (max-width: 1600px) {
    .bad{
        width: 400px;
    }
    .day{
        width: 400px;
    }
}
@media(min-width: 600px) and (max-width: 1150px) {
    .bad{
        width: 300px;
    }
    .day{
        width: 300px;
    }
}
@media(min-width: 600px) and (max-width: 900px) {
    .bad{
        width: 250px;
    }
    .day{
        width: 250px;
    }
}
@media(min-width: 600px) and (max-width: 750px) {
    .bad{
        width: 190px;
    }
    .day{
        width: 190px;
    }
}