body{
    background-color: #00c6a9;
}
header{
    background-color: white;
}
.main5{
    height: 960px;
}
.wraithking{
    margin-top: 70px;
}
@media(min-width: 375px) and (max-width: 599px){
  .main5 {
    height: 960px;
    position: relative;
    top: -63px;
}
       .knopka {
        position: relative;
        left: -169px;
        top: -8px;
    }
        .mandarin {
        position: relative;
        top: -40px;
        left: -10px;
        font-size: 16px;
        width: 149px;
    }
        .minatom {
        padding-top: 5px;
        padding-bottom: 5px;
        top: 70px;
        position: relative;
    }
  
}
@media(min-width: 320px) and (max-width: 375px){
 .main5 {
    height: 960px;
    position: relative;
    top: -63px;
}
         .knopka {
        position: relative;
               left: -165px;
        top: -27px;
    }
        #fufa {
        width: 50px;
        font-size: 12px;
        position: relative;
        right: -10px;
    }
        .mandarin {
        position: relative;
        top: -40px;
        left: -36px;
        font-size: 16px;
        width: 114px;
    }
        .minatom {
        padding-top: 5px;
        padding-bottom: 5px;
        top: 70px;
        position: relative;
    }
  
}
