.main4{
    height: 690px;
}

.krovat{
    margin-top: 230px;
}
@media(min-width: 600px) and (max-width: 1600px){
    .main4{
    height: 990px;
}
.krovat{
    margin-top: 230px;
}
    .silizionka{
        gap: 0px;
    }.kletka1{
        height: 400px;
    } .kletka2{
        height: 400px;
    } .kletka3{
        height: 400px;
    } .kletka4{
        height: 400px;
    }
    .krovat {
    margin-top: -100;
}
}
@media(min-width: 375px) and (max-width:600px){
    .main4{
    height: 1400px;
}
       .knopka {
        position: relative;
        left: -169px;
        top: -8px;
    }
        .mandarin {
        position: relative;
        top: -40px;
        left: -10px;
        font-size: 16px;
        width: 149px;
    }
        .minatom {
        padding-top: 5px;
        padding-bottom: 5px;
        top: 70px;
        position: relative;
    }
      .krovat {
    margin-top: 90px;
}
}
@media(min-width: 320px) and (max-width: 375px){
    .main4{
    height: 1500px;
}
    .help2.show {
        width: 260px;
        max-height: 90px;
        line-height: 1.4;
        position: relative;
        top: 2px;
    }
    #fufa {
        width: 50px;
        font-size: 12px;
        position: relative;
        right: -10px;
    }
           .knopka {
        position: relative;
             left: -165px;
        top: -27px;
    }
        .mandarin {
        position: relative;
        top: -40px;
        left: -36px;
        font-size: 16px;
        width: 114px;
    }
        .minatom {
        padding-top: 5px;
        padding-bottom: 5px;
        top: 70px;
        position: relative;
    }
      .krovat {
    margin-top: 0px;
}
}
